<h2>Dinamicos Formularios <small>Template</small> </h2>
<hr>
<form (ngSubmit)="guardar()" #miFormulario="ngForm">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">

            <input type="text" class="form-control" required
                    placeholder="Nombre de la persona" name="nombre"
                    [ngModel]="persona.nombre"> 
            
            <span class="form-text text-danger"
                    *ngIf="miFormulario.controls['nombre']?.invalid && 
                        miFormulario.controls['nombre']?.touched">
                No puedes tener un campo vacio
            </span>

        </div>
    </div>


<!-- Agregar-->
        <div class="row mb-3">
            <label class="col-sm-3">Agregar</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" class="form-control"
                            (keyup.enter)="agregar()"
                            [(ngModel)]="nuevoJuego"
                            name="nuevoJuego"
                            placeholder="Agregar juego favorito">
                    <button class="btn btn-outline-primary" 
                        (click)="agregar()"
                        type="button">Agregar</button>
                </div>

            </div>
        </div>


        <!-- Favoritos-->
        <div class="row">
            <label class="col-sm-3">Favoritos</label>
            <div class="col-sm-9">
                <div class="input-group mb-1" *ngFor="let anime of persona.favorito; let i = index">
                    <input  type="text" 
                            [(ngModel)]="anime.nombre"
                            name='anime_{{ i }}'
                            class="form-control">
                            <button class="btn btn-outline-danger" type="button"
                                    (click)="eliminar(i)">Eliminar</button>
                </div>

            </div>
        </div>



    <div class="row">
        <div class="col-sm-12">
            <button (click)="guardar()" 
            [disabled]="miFormulario.invalid"
                    class="btn btn-primary float-end">
                Enviar
            </button>
        </div>
    </div>
</form>


<h2>Persona</h2>
<pre>{{ persona | json }}</pre>