<h2>Reactivos: Switches</h2>
<hr>
<form [formGroup]="miFormulario" (submit)="guardar()">

    <!-- Genero -->
    <div class="row mb-1">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" 
                       type="radio" 
                       formControlName="genero"
                       value="M"
                       id="Masculino">
                <label class="form-check-label" for="Masculino">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" 
                      type="radio" 
                      formControlName="genero"
                      value="F"
                      id="Femenino">
                <label class="form-check-label" for="Femenino">
                  Femenino
                </label>
              </div>
        </div>
    </div>
    
    <!-- Recibir notificaciones -->
    <div class="row mb-1">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" 
                       type="checkbox" 
                       role="switch"
                       formControlName="notificaciones"
                       id="flexSwitchCheckDefault">
                <label class="form-check-label " 
                       for="flexSwitchCheckDefault">Quiero recibir notificaciones</label>
             </div>
        </div>
    </div>

    
    <!-- Terminos y condiciones -->
    <div class="row mb-1">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
        
            <div class="form-check">
              <input class="form-check-input" 
                    type="checkbox" 
                    formControlName="terminos"
                    id="terminos">
              <label class="form-check-label" for="terminos">
                 Aceptar términos y condiciones
              </label>
            </div>
        </div>
    </div>

    <!-- botón submit -->
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end">Enviar</button>
        </div>
    </div>
</form>


<h4>Valor formulario</h4>
<pre> {{ miFormulario.value | json}} </pre>
<br>
<h4>Formulario válido?</h4>
<pre> {{ miFormulario.valid }} </pre>
<br>
<!-- <h4>Términos y condiciones</h4>
<pre> {{ miFormulario.controls['terminos']?.errors |json}}  </pre> -->