<h2>Reactivos dinamicos Formularios </h2>
<hr>
<form (submit)="guardar()" [formGroup]="miFormulario">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">

            <input type="text" class="form-control"
                formControlName="nombre"
                    placeholder="Nombre de la persona"> 
            
            <span class="form-text text-danger"
                    *ngIf="esValido('nombre')">
                El campo debe tener mínimo 3 letras
            </span>

        </div>
    </div>


<!-- Agregar-->
        <div class="row mb-3">
            <label class="col-sm-3">Agregar</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" class="form-control"
                            (keyup.enter)="agregarFavorito()"
                            placeholder="Agregar juego favorito"
                            [formControl]="nuevoFavorito">
                    <button class="btn btn-outline-primary"
                        (click)="agregarFavorito()"
                        type="button">Agregar</button>
                </div>

            </div>
        </div>


        <!-- Favoritos-->
        <div class="row">
            <label class="col-sm-3">Favoritos</label>
           
            <div class="col-sm-9" formArrayName="favoritos">
                <div class="input-group mb-1"
                        *ngFor="let favorito of favoritoArr.controls; let i = index">
                  
                        <input  type="text" class="form-control"
                                [formControlName]="i">

                            <button class="btn btn-outline-danger" type="button"
                                    (click)="borrar(i)">Eliminar</button>
                </div>

            </div>
        </div>



    <div class="row">
        <div class="col-sm-12">
            <button (click)="1" 
                    class="btn btn-primary float-end">
                Enviar
            </button>
        </div>
    </div>
</form>
 
<span>
    <h4>Valid</h4>
    <pre>{{miFormulario.valid|json}}</pre>
</span>
<br>
<h4>Formulario</h4>
<pre>{{ miFormulario.value | json }}</pre>

<br>
<h4>NuevoFavorito</h4>
<pre>{{nuevoFavorito.valid}}</pre>
<br>
<pre>{{nuevoFavorito.value|json}}</pre>